.chart__root {
  max-width: 1127px;
  position: relative;
  width: 100%;
  padding-top: 56%;
}

.chart__root-inner {
  content: '';
  position: absolute;
  width: 100%;
  max-width: 1127px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.chart__root-container {
  position: relative;
  max-width: 1127px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .chart__root {
    padding-top: 100%;
  }
}
